/* Universal Styles */

body {
  font-size: 1rem;
   font-family: "Roboto";
  background-color: #F4F4F4;
  margin: 0;
}

header {
  background-color: #ffffff;
}

div nav main section {
    display: block;
}

img, video {
    width: 100%;
    height: auto;
}

a {
  font-size: 0.6rem;
}

p {
  font-size: 0.6rem;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
font-size: 0.7rem;
font-weight: 600;

}

h4 {
  font-size: 0.6rem;
}

ul li {
    list-style: none;
}

span {
  font-size: 0.7rem;
}

footer {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

/* End of Universal Styles */
/* Header Container */

.desktop {
  display: none;
}

 .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  top: 0;
}

.navigation {
  align-items: : center;
}

.navigation li {
  display: flex;
  list-style: none;
}
.navigation img {
  padding: 0.4rem;
}

nav a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #3d5030;
    font-weight: 500;
}

nav a:hover {
    color: #5abf17;
    transition: color 200ms;
}

/* Header Container Mobile */
@media only screen and (min-width: 580px){
  .mobile {
    display: none;
 }
.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ##f4f4f4;
  height: 2rem;
  width: 100%;
  top: 0;
  margin-right: 1.5rem;
 }
 .logo {
   display: flex;
     align-items: center;
    flex: 1;
    width: auto;
 }
.logo a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
    margin-left: 1.5rem;
   }
.logo span {
      text-transform: uppercase;
      opacity: 0.66;
   }

#colmar {
    font-weight: 700;
    font-size: 1.2rem;
}
#colmar:hover {
    color: #5abf17;
    transition: color 200ms;
}
#academy {
    color: #808080;
    font-size: 1.1rem;
    font-weight: 600;
}
nav li {
    list-style: none;
    margin-right: 1.5rem;
}
nav ul {
  display: flex;
    padding-left: 0;
    width: 100%;
}
}
/* End of Header Container */
/* Learn Section */

 .banner {
  width: 100%;
  height: 180px;
  background: url("../img/images/banner.jpg");
  background-size: cover;
}

.banner img {
    display: none;
}

.start-here {
    padding: 2rem 1rem;
    align-content: center;
      background-color: #c0c0c0;
}
button {
  display: block;
  padding: 0.5rem 0;
  color: #ffffff;
  background-color: #3e5231;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

button:hover {
    color: #5abf17;
    transition: color 200ms;
}

blockquote {
  font-style: italic;
  font-size: 0.8rem;
  padding-bottom: 1.5rem;
}
/* Learn Section Mobile */
@media only screen and (min-width: 580px) {
 .learn {
   display: flex;
    flex-direction: row;
    align-items: center;
   background-color: #c0c0c0;
 }
.banner {
   background: none;
      height: auto;
      width: 60%;
     padding: 2rem 0rem 2rem 2rem;
 }
.banner img {
     display: flex;
   }

.start-here {
   width: 40%;
 }
 .start-here h1 {
  font-size: 1.7rem;
 }
 }
/* End of Learn Section */
/* Practice Container */

.information-text {
    padding: 0.7rem 0.5rem;
}

.practice {
    display: none;
}

.details-cube {
  padding:  1rem 1rem 0 1rem;
  flex-direction: column;
}

.details-cube .img-desktop {
  display: none;
}

.details-cube .img-mobile {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#readmore {
 color: #3e5231;
 font-weight: 600;
}

#readmore:hover {
    color: #5abf17;
    transition: color 200ms;
}

/* Practice Container Mobile */

@media only screen and (min-width: 580px) {
.information {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.information-text {
  display: flex;
  flex-direction: column;
      height: auto;
      padding: 0;
}
.information-text h2 {
  padding: 2rem 0rem 1.5rem 0rem;
}
.information-text h3 {
  padding-bottom: 0.5rem;
}
.practice {
   display: flex;
   flex-direction: column;
   width: 60%;
   padding: 0rem 1.5rem;
  }
.details-cube {
    border-left: 1px solid #808080;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0;
    }
.details-cube div:first-child {
        margin-top: 1rem;
    }
.info-thumb img {
      height: auto;
  }

.details-cube .img-mobile {
    display: none;
  }
.details-cube .img-desktop {
    display: flex;
  width: 35%;
    margin: 0;
    float: left;
    padding: 0.5rem;
}
.orientation, .campus, .guests {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid c0c0c0;
}
.guests {
  background-color: #c0c0c0;
}
}

/* Information Practice Container Mobile */

.information-text {
    padding: 0.7rem 0.5rem;
}

.practice {
    display: none;
}

.details-cube {
  padding:  0 1rem;
  flex-direction: column;
}

.details-cube .img-desktop {
  display: none;
}

.details-cube .img-mobile {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#readmore {
 color: #3e5231;
 font-weight: 600;
}

#readmore:hover {
    color: #5abf17;
    transition: color 200ms;
}

@media only screen and (min-width: 580px) {
.information {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.information-text {
  display: flex;
  flex-direction: column;
      height: auto;
      padding: 0;
}
.information-text h2 {
  padding: 2rem 0rem 1.5rem 0rem;
}
.practice {
   display: flex;
   flex-direction: column;
   width: 60%;
   padding: 0rem 1.5rem;
  }
.details-cube {
    border-left: 1px solid #808080;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 0;
    }
.details-cube div:first-child {
        margin-top: 1rem;
    }
.info-thumb img {
      height: auto;
  }

.details-cube .img-mobile {
    display: none;
  }
.details-cube .img-desktop {
    display: flex;
  width: 35%;
    margin: 0;
    float: left;
    padding: 0.5rem;
}
.orientation, .campus, .guests {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid c0c0c0;
}
.guests {
  background-color: #c0c0c0;
}
}
/* End of Details-Cube Container */

/* Courses Section */

.feature {
    padding: 1rem 2rem;
}
.feature h2 {
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.feature img, .feature .description p {
    display: none;
}
.feature h3 {
    padding: 0.5rem;
    background: #c0c0c0;

}

/* Courses Section Mobile */
@media only screen and (min-width: 580px) {
  .feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    background: #c0c0c0;
  padding: 0;
}
 .cards {
  width: 27%;
  margin: 0 0.5rem 1.5rem 0;
}


.description {
  padding: 1rem 0 0.5rem 1rem;
  background: white;
}
.feature h3 {
  background: white;
  padding: 0  0 0.5rem 0;
}
.feature p {
    padding: 0rem 0 0.5rem 0;
}

.feature img, .feature .description p {
    display: flex;
}
}
/* Enf of Courses */
/* Exhibit Section */
.exhibit h2 {
  text-align: center;
}
.exhibit h4 {
    padding: 0.5rem 0 1rem 0;
    text-align: left;
    width: 100%;
}

.recent, .visual p, .visual h3 {
    display: none;
}

/* Exhibit Section Mobile */
@media only screen and (min-width: 580px) {
.visual {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;

}
.demo {
    margin-right: 1.5rem;
    width: 60%;
}
.demo p, .demo h3 {
  display: flex;
flex-direction: column;
padding-top: 1.5rem;
}
.demo p {
  padding-bottom:  2rem;
}

.recent  {
  display: block;
  width: 40%;
  flex-direction: column;
}

.extra img {
  width: 35%;
    margin: 1rem;
}

.extra:first-child {
    background: lightgrey;
}

.extra {
  display: flex;
  flex-direction: row;
  align-items: center;

}
.extra-details {
  width: 65%;
}
.extra-details h4, .extra p {
    display: block;
    flex-direction: column;
}
}
/* Enf of Exhibit Section */
/* Begin of Footer */
footer {
  display: flex;
    padding: 1rem 0;
align-content: center;

}
.copyright {
  margin-left: 1.5rem;
}
.terms {
    display: none;
}

@media only screen and (min-width: 580px) {
footer {
    border-top: 1px solid #c0c0c0;
   padding: 1rem 0;
     justify-content: space-between;
  }
.terms {
 display: flex;
  }
.terms ul li {
    display: flex-end;
    flex-direction: row;
}
.terms ul li:first-child {
    margin-right: 1rem;
  }
}
