/* Universal Styles */

body {
  font-size: 16px;
  background-color: #F4F4F4;
  margin: 0px;
}


main {
  display: block;
}

a {

}

/* Header Container */

header nav {
    display: flex;
    height: 4rem;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
  width: 100%;
  padding: 0;
}

.navigation {
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;
}

.navigation li {
  display: flex;
  list-style: none;
}

img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 580px){
  .mobile {
    display: none;
 }
 .desktop {
     display: flex;
     margin-left: 0;
     padding: 0 1.5rem;
     width: 100%;
     justify-content: space-between;
     align-items: center;
 }
 .logo {
   display: flex;
     align-items: center;
    flex: 1;
    width: auto;
 }
.logo a {
     display: flex;
     justify-content: flex-end;
     align-items: center;

   }
.logo span {
     font-weight: bold;
      text-transform: uppercase;
   }

#colmar {
    font-weight: 700;
}

#academy {
    color: #808080;
}

nav li {
    list-style: none;
}

nav li:nth-child(n+1) {
  margin-right: 16px;
}


/* Learn Section */

 @media only screen and (min-width: 580px) {
  .learn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #808080;
  }
  .banner {
    background: none;
    height: auto;
    width: 60%;
    padding: 32px 24px;
  }
  .banner img {
    display: flex;
  }
  .start-here {
    max-width: 423px;
  }
  .start-here h1 {
    font-size: 4vw;
  }
}

/* Main Container */

main .learn {
  display: flex;
    flex-direction: row;
    align-items: center;
    background:  #c0c0c0;
  }

.banner {
  background: none;
    height: auto;
  display: block;
  width: 60%;
  padding: 2rem 1.5rem;
}

.banner img {
  display: flex;
}

img {
  width: 100%;
  height: auto;
}

.start-here {
  display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

button {
  padding: 0.5rem 0;
  color: #ffffff;
  background: #484f4f;
    width: 100%;
}
