/* Universal Styles */

body {
  font-size: 16px;
  background-color: #F4F4F4;
  margin: 0px;
}

main {
  display: block;
}

div {
    display: block;
    color:  #3d5030;
}

img {
    width: 100%;
    height: auto;
}

a {
  font-size: 1.5rem;
font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;

}

h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

ul {
    list-style: none;
}
button {
display: block;
 padding: 0.5rem 0;
 color: #ffffff;
 background-color: #3e5231;
   width: 100%;
   text-align: center;
}
button:hover {
    color: #5abf17;
    transition: color 200ms;
}
/* Header Container */

header nav {
    display: flex;
    height: 4rem;
}

.desktop {
  display: none;
}

.mobile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.navigation {
  align-items: center;
}

.navigation li {
  display: flex;
  list-style: none;
}
.navigation img {
  padding: 0.4rem;
}

nav a {
    text-decoration: none;
    display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #3d5030;
}

nav a:hover {
    color: #5abf17;
    transition: color 200ms;
}

#colmar {
    font-weight: 700;
    color: #3d5030;
}



#academy {
    color: #7d966c;
    font-weight:600;
}

.logo img {
    height: 3rem;
    width: auto;
}


@media only screen and (min-width: 580px){
  .mobile {
    display: none;
 }

.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: ##f4f4f4;
  height: 4rem;
  width: 100%;
  top: 0;
  position: fixed;


    margin-right: 1.5rem;

 }

 .logo {
   display: flex;
     align-items: center;
    flex: 1;
    width: auto;
 }

.logo a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
    margin-left: 1.5rem;

   }

.logo span {
      text-transform: uppercase;
      opacity: 0.66;
   }

#colmar {
    font-weight: 700;
    font-size: 1.7rem;
}
#colmar:hover {
    color: #5abf17;
    transition: color 200ms;
}
#academy {
    color: #808080;
    font-size: 1.6rem;
    font-weight: 600;
}

nav li {
    list-style: none;
    margin-right: 1.5rem;
}

nav ul {
  display: flex;

    padding-left: 0;
    width: 100%;
}



/* Learn Section */

.banner {
  width: 100%;
    height: 180px;
    background-size: cover;
    background: url(../img/images/banner.jpg);
}
.banner img {
    display: none;
}

.start-here {
    padding: 32px 16px;
}







 @media only screen and (min-width: 580px) {
  .learn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    background-color: #c0c0c0;

  }
.learn .banner {
    background: none;

       height: auto;
       width: 60%;

      padding: 2rem 1.5rem;
  }
  .banner img {
      display: flex;
    }

.start-here {
    width: 40%;

  }

  .start-here h1 {
    font-size: 4vw;
}
